{% extends "base.html" %}

{% block content %}
<h1> {{object.title}} </h1>
    <p> 
        {%if object.description %} 
            {{ object.description }} 
        {% else %} 
            Description comming soon 
        {% endif %}
    </p>
<h3>{{ object.price }}</h3>

<p>
    <a href="../edit/{{object.id}}">
        <button type="button" class="btn btn-default" >Edit Product </button>
    </a>
    <a href='../delete/{{object.id}}'>
        <button type="button" class="btn btn-danger" >Delete Product </button>
    </a>
 </p>
{% endblock content %}
